# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/

# IntelliJ related
*.iml
*.ipr
*.iws

/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
/pubspec.lock
